html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.full-page-chat-app-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.botpress-chat-container-fullpage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}